services:

    orthanc:
        image: orthancteam/orthanc  # For production, set a specific version tag
        ports: [127.0.0.1:8042:8042, 104:4242]
        restart: unless-stopped
        environment:
            VERBOSE_ENABLED: true
            VERBOSE_STARTUP: true
            ORTHANC__NAME: ORTHANC demo
            ORTHANC__AWS_S3_STORAGE__BUCKET_NAME: ikko-orthanc-0
            ORTHANC__AWS_S3_STORAGE__REGION: us-east-1
            ORTHANC__AWS_S3_STORAGE__ACCESS_KEY: DO801WJL7LQ3VUUFP7TK
            ORTHANC__AWS_S3_STORAGE__SECRET_KEY: ti/BXL9XHENFBzmt5layocjQ/nJ0ZzAVlN4Ph1x9ivY
            ORTHANC__AWS_S3_STORAGE__ENDPOINT: https://ams3.digitaloceanspaces.com
            # - ORTHANC__AWS_S3_STORAGE__VIRTUAL_ADDRESSING=false
            # - ORTHANC__AWS_S3_STORAGE__HYBRID_MODE=WriteToObjectStorage
            # - ORTHANC__AWS_S3_STORAGE__HYBRID_MODE=WriteToFileSystem
            ORTHANC__AUTHENTICATION_ENABLED: true
            ORTHANC__DICOM_SERVER_ENABLED: true
            ORTHANC__DICOM_AET: IKKORTHANC
            ORTHANC__DICOM_CHECK_CALLED_AET: true
            ORTHANC__DEFAULT_ENCODING: "Utf8"
            ORTHANC__INDEX_DIRECTORY: /var/lib/orthanc/db
            ORTHANC__DICOM_TLS_ENABLED: true
            ORTHANC__DICOM_TLS_ALLOW_UNTRUSTED: true  # For testing purposes only   
            ORTHANC__DICOM_TLS_REMOTE_CERTIFICATE_REQUIRED : false  # For testing purposes only   
            ORTHANC__DICOM_TLS_CERTIFICATE: /etc/orthanc/tls/dicom-tls-crt.pem
            ORTHANC__DICOM_TLS_PRIVATE_KEY: /etc/orthanc/tls/dicom-tls-key.pem
            ORTHANC__DICOM_TLS_TRUSTED_CERTIFICATES: /etc/orthanc/tls/dicom-tls-crt.pem
            ORTHANC__HTTP_TLS_ENABLED: false  # Use nginx for HTTPS
            ORTHANC__WORKLISTS: |
                {
                    "Enable": true,
                    "FilterIssuerAet": false,
                    "Directory disabled": "/var/lib/orthanc/worklists",
                    "SaveInOrthancDatabase": true
                }
            ORTHANC__DICOM_ALWAYS_ALLOW_FIND: true
            ORTHANC__DICOM_ALWAYS_ALLOW_FIND_WORKLIST: true
            ORTHANC__DICOM_ALWAYS_ALLOW_GET: true
            ORTHANC__DICOM_ALWAYS_ALLOW_MOVE: true

            ###
            ### UI changes -- definitions for OrthancExplorer2
            ###
            # You might think you could use JSON, like with worklists above or registered-users below,
            # ORTHANC__ORTHANC_EXPLORER2: | { ... } 
            # But you can't, https://github.com/orthanc-server/orthanc-builder/issues/34
            #
            ## Worklist UI
            #
            # Modify new worklist tags to allow setting accession number and set our institute
            # For general details, see https://github.com/orthanc-server/orthanc-explorer-2/blob/b9d01e0185ff6026244980ea1c21c38e23fed394/Plugin/DefaultConfiguration.json#L272
            # or, updated (so line number probably inexact), https://github.com/orthanc-server/orthanc-explorer-2/blob/master/Plugin/DefaultConfiguration.json#L272
            ORTHANC__ORTHANC_EXPLORER2__UI_OPTIONS__NEW_WORKLIST_DEFAULT_TAGS__ACCESSION_NUMBER__REQUIRED: true
            ORTHANC__ORTHANC_EXPLORER2__UI_OPTIONS__NEW_WORKLIST_DEFAULT_TAGS__ACCESSION_NUMBER__EDITABLE: true
            ORTHANC__ORTHANC_EXPLORER2__UI_OPTIONS__NEW_WORKLIST_DEFAULT_TAGS__INSTITUTION_NAME__DEFAULT_VALUE: Ikko Health Ltd
            # ORTHANC__ORTHANC_EXPLORER2__UI_OPTIONS__NEW_WORKLIST_DEFAULT_TAGS__INSTITUTION_NAME__EDITABLE: false
            ORTHANC__ORTHANC_EXPLORER2__UI_OPTIONS__NEW_WORKLIST_DEFAULT_TAGS__STUDY_INSTANCE_U_I_D__EDITABLE: true
            #
            ## General customization
            #
            ORTHANC__ORTHANC_EXPLORER2__THEME: dark  # Ikko dark, hospital light
            ORTHANC__ORTHANC_EXPLORER2__Custom_Css_Path:  /etc/orthanc/ui/ikko.css
            ORTHANC__ORTHANC_EXPLORER2__Custom_Logo_Path: /etc/orthanc/ui/ikko-logo.png

            ORTHANC__REGISTERED_USERS: |
                {
                    "doctor": "pr0f3ss0r",
                    "healthcheck": "ZorbaVsJorma"
                }

        volumes:
            - orthanc-sqlite-storage:/var/lib/orthanc/db
            - ./tls:/etc/orthanc/tls:ro
            - ./ui:/etc/orthanc/ui:ro

        healthcheck:
            test: ["CMD-SHELL", "/probes/test-aliveness.py --user=healthcheck --pwd=ZorbaVsJorma"]
            start_period: 10s
            retries: 2
            interval: 3s
            timeout: 2s

    hospithanc:
        image: orthancteam/orthanc  # For production, set a specific version tag
        ports: [127.0.0.1:9042:8042, 9104:4242]
        restart: unless-stopped
        environment:
            VERBOSE_ENABLED: true
            VERBOSE_STARTUP: true
            ORTHANC__NAME: HOSPITAL demo
            ORTHANC__AWS_S3_STORAGE__BUCKET_NAME: ikko-hospithanc-0
            ORTHANC__AWS_S3_STORAGE__REGION: us-east-1
            ORTHANC__AWS_S3_STORAGE__ACCESS_KEY: DO801WJL7LQ3VUUFP7TK
            ORTHANC__AWS_S3_STORAGE__SECRET_KEY: ti/BXL9XHENFBzmt5layocjQ/nJ0ZzAVlN4Ph1x9ivY
            ORTHANC__AWS_S3_STORAGE__ENDPOINT: https://ams3.digitaloceanspaces.com
            # - ORTHANC__AWS_S3_STORAGE__VIRTUAL_ADDRESSING=false
            # - ORTHANC__AWS_S3_STORAGE__HYBRID_MODE=WriteToObjectStorage
            # - ORTHANC__AWS_S3_STORAGE__HYBRID_MODE=WriteToFileSystem
            ORTHANC__AUTHENTICATION_ENABLED: true
            ORTHANC__DICOM_SERVER_ENABLED: true
            ORTHANC__DICOM_AET: HOSPITHANC
            ORTHANC__DICOM_CHECK_CALLED_AET: true
            ORTHANC__DEFAULT_ENCODING: "Utf8"
            ORTHANC__INDEX_DIRECTORY: /var/lib/orthanc/db
            ORTHANC__DICOM_TLS_ENABLED: true
            ORTHANC__DICOM_TLS_ALLOW_UNTRUSTED: true  # For testing purposes only   
            ORTHANC__DICOM_TLS_REMOTE_CERTIFICATE_REQUIRED : false  # For testing purposes only   
            ORTHANC__DICOM_TLS_CERTIFICATE: /etc/orthanc/tls/dicom-tls-crt.pem
            ORTHANC__DICOM_TLS_PRIVATE_KEY: /etc/orthanc/tls/dicom-tls-key.pem
#            ORTHANC__DICOM_TLS_CERTIFICATE: /etc/orthanc/tls/hospital-dicom-tls-crt.pem
#            ORTHANC__DICOM_TLS_PRIVATE_KEY: /etc/orthanc/tls/hospital-dicom-tls-key.pem
            ORTHANC__DICOM_TLS_TRUSTED_CERTIFICATES: /etc/orthanc/tls/dicom-tls-crt.pem
            ORTHANC__HTTP_TLS_ENABLED: false  # Use nginx for HTTPS
            ORTHANC__WORKLISTS: |
                {
                    "Enable": true,
                    "FilterIssuerAet": false,
                    "Directory disabled": "/var/lib/orthanc/worklists",
                    "SaveInOrthancDatabase": true
                }
            ORTHANC__DICOM_ALWAYS_ALLOW_FIND: true
            ORTHANC__DICOM_ALWAYS_ALLOW_FIND_WORKLIST: true
            ORTHANC__DICOM_ALWAYS_ALLOW_GET: true
            ORTHANC__DICOM_ALWAYS_ALLOW_MOVE: true

            ###
            ### UI changes -- definitions for OrthancExplorer2
            ###
            # See comment above about JSON
            #
            ## Worklist UI
            #
            # Modify new worklist tags to allow setting accession number and set our institute
            # For general details, see https://github.com/orthanc-server/orthanc-explorer-2/blob/b9d01e0185ff6026244980ea1c21c38e23fed394/Plugin/DefaultConfiguration.json#L272
            # or, updated (so line number probably inexact), https://github.com/orthanc-server/orthanc-explorer-2/blob/master/Plugin/DefaultConfiguration.json#L272
            ORTHANC__ORTHANC_EXPLORER2__UI_OPTIONS__NEW_WORKLIST_DEFAULT_TAGS__ACCESSION_NUMBER__REQUIRED: true
            ORTHANC__ORTHANC_EXPLORER2__UI_OPTIONS__NEW_WORKLIST_DEFAULT_TAGS__ACCESSION_NUMBER__EDITABLE: true
            ORTHANC__ORTHANC_EXPLORER2__UI_OPTIONS__NEW_WORKLIST_DEFAULT_TAGS__INSTITUTION_NAME__DEFAULT_VALUE: Unnamed Hospital
            # ORTHANC__ORTHANC_EXPLORER2__UI_OPTIONS__NEW_WORKLIST_DEFAULT_TAGS__INSTITUTION_NAME__EDITABLE: false
            ORTHANC__ORTHANC_EXPLORER2__UI_OPTIONS__NEW_WORKLIST_DEFAULT_TAGS__STUDY_INSTANCE_U_I_D__EDITABLE: true
            #
            ## General customization
            #
            ORTHANC__ORTHANC_EXPLORER2__THEME: light  # Ikko dark, hospital light
            # ORTHANC__ORTHANC_EXPLORER2__Custom_Css_Path:  # If we need more modifications
            # ORTHANC__ORTHANC_EXPLORER2__Custom_Logo_Path: /etc/orthanc/ui/some-logo.png  # if we don't like the Orthanc logo

            ORTHANC__REGISTERED_USERS: |
                {
                    "doctor": "pr0f3ss0r",
                    "healthcheck": "ZorbaVsJorma"
                }
                
        volumes:
            - hospithanc-sqlite-storage:/var/lib/orthanc/db
            - ./tls:/etc/orthanc/tls:ro
            - ./ui:/etc/orthanc/ui:ro   # For now, this is FFU

        healthcheck:
            test: ["CMD-SHELL", "/probes/test-aliveness.py --user=healthcheck --pwd=ZorbaVsJorma"]
            start_period: 10s
            retries: 2
            interval: 3s
            timeout: 2s

volumes:
    # minio-storage:
    orthanc-sqlite-storage:
    hospithanc-sqlite-storage:

#networks:
#    test:
